<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PracticeFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PracticeFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PracticeFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PracticeFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>213643822CE6A47E00FCF14E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>219D1DD42CDAFD22008AAEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>219D1DDE2CDAFD23008AAEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C745B22D07FF2000B11A87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C745B92D07FF2000B11A87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21E085BC2D014C15009FD215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
